<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('homepage_main') }}">ArtGallery</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{ path('homepage_main') }}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Les Oeuvres</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">A Propos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
                <li class="nav-item">
                    {% if app.user %}
                        <a class="nav-link" aria-current="page" href="{{ path('app_logout') }}">Se déconnecter</a>
                    {% else %}
                        <a class="nav-link" aria-current="page" href="{{ path('app_login') }}">Se connecter</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>