{% extends 'base.html.twig' %}

{% block title %}ArtGallery_Home{% endblock %}

{% block body %}
    <h2>Bienvenue</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias amet aspernatur aut blanditiis commodi
        consectetur cumque dolor dolorum error eum ex illo ipsam labore laboriosam odio officiis perspiciatis quis
        quisquam rerum soluta, sunt tenetur ut! A cum dolor dolorem doloribus enim est harum itaque, laudantium magni
        maxime minima nam nostrum quae quaerat qui, rem voluptate. Deleniti facilis iure perspiciatis!
    </p>
    <h3> Les dernières oeuvres</h3>
    {% for artwork in artworks %}
        <section class="cards">
            <div class="card mb-3">
                <h3 class="card-header">{{ artwork.name | capitalize }}</h3>
                <div class="card-body">
                    <figure>
                        <img src="{{ asset('img/upload/' ~ artwork.file) }}" class="img-fluid img-thumbnail rounded"
                             alt="">
                        <figcaption>{{ artwork.description | u.truncate(20, ' ...', false) | capitalize }}</figcaption>
                    </figure>
                    <a href="#">Accéder à la fiche de l'oeuvre</a>
                </div>
                <div class="card-footer">
                    {% for category in artwork.category %}
                        <em>#{{ category }}</em>
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endfor %}
{% endblock %}
